<!DOCTYPE html>
<html lang="en">
<head>
    <title>Spryntax</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/bootstrap.css">
    <link rel="stylesheet" href="/spryntax.css">
    <script src="/jquery-3.7.1.min.js"></script>
    <script> var USER_LOGGED_IN = <%= (username && username !== 'undefined') ? true : false %>; 
             var PROGRAM_LANGUAGE = "<%= level_language %>";
    </script>
    <script src="/spryntax_main.js"></script>
</head>
<body>
    <header>
        <div class="nav-container">
          <nav>
            <div class="nav-left">
              <a href="/" class="logo <%= activePage === 'home' ? 'active' : '' %>" data-gradient="linear-gradient(130deg, cyan, cyan)">Spryntax</a>
              <a href="/level_select" class="<%= activePage === 'level_select' ? 'active' : '' %>" data-gradient="linear-gradient(130deg, cyan, lime)">Level Select</a>
              <a href="/favorites" class="<%= activePage === 'favorites' ? 'active' : '' %>" data-gradient="linear-gradient(130deg, rgb(43, 255, 0), rgb(247, 255, 4))">Favorites</a>
              <a href="/stats" class="<%= activePage === 'stats' ? 'active' : '' %>" data-gradient="linear-gradient(130deg, rgb(247, 255, 4), rgb(255, 132, 0))">Stats</a>
              <a href="/leaderboard" class="<%= activePage === 'leaderboard' ? 'active' : '' %>" data-gradient="linear-gradient(130deg, rgb(255, 132, 0), rgb(255, 0, 0))">Leaderboard</a>
              <a href="/report" class="<%= activePage === 'report' ? 'active' : '' %>" data-gradient="linear-gradient(130deg, rgb(255, 0, 0), rgb(255, 0, 208))">Report</a>
            </div>
            <div class="nav-right">
              <a href="/about" class="<%= activePage === 'about' ? 'active' : '' %>" data-gradient="linear-gradient(130deg, rgb(255, 0, 208), rgb(81, 0, 255))">About Us</a>
              <% if (username && username !== 'undefined') { %>
                <a href="#" class="<%= activePage === 'profile' ? 'active' : '' %>" data-gradient="linear-gradient(130deg, rgb(81, 0, 255), rgb(0, 247, 255))">Welcome <%= username %>!</a>
                <a href="#" class="logout-link" data-gradient="linear-gradient(130deg, rgb(0, 247, 255), lime)">Logout</a>
                <form id="logout-form" action="/logout" method="POST" style="display: none;">
                </form>
              <% } else { %>
                <a href="/signup" data-gradient="linear-gradient(130deg, rgb(81, 0, 255), rgb(0, 247, 255))">Sign up</a>
                <a href="/login" data-gradient="linear-gradient(130deg, rgb(81, 0, 255), rgb(0, 247, 255))">Log in</a>
              <% } %>
            </div>
            <div id="indicator"></div>
          </nav>
        </div>
    </header>
      
      
      
    <h1 class="gradient-text mt-2" data-text="Spryntax">Spryntax</h1>
    <div id="main_back">
        <div id="main_body">
            #include &lt;iostream><br>
            using namespace std;<br>
            <br>
            int main(){<br>
            &emsp;cout &lt;&lt; "this is more annoying than it looks";<br>
            &emsp;return 0;<br>
            }<br>
        </div>
        <textarea id="main_front" spellcheck="false"></textarea>
        <p id="wincheck" hidden>YOU WIN!</p>
    </div>
    
</body>
</html>
