<!DOCTYPE html>
<html lang="en">
<head>
    <title>Browse Algorithms</title>
    <link rel="stylesheet" href="spryntax.css">
    <script src="spryntax_main.js"></script>
</head>
<body>
    <header>
        <h1>Browse Algorithm</h1>
        <nav>
            <a href="/">Home</a>
        </nav>
    </header>
    
    <!-- Help Button and Help Text -->
    <button class="help-button" onclick="toggleHelp()">Help</button>
    <div id="help-text" class="help-text hidden">
        Use the search options below to find algorithms by name, difficulty, data structure use case or approach/technique
    </div>

    <!-- Search Options -->
    <div class="search-options">
        <input type="text" id="search-name" placeholder="Search by name"> 
        <select id="search-difficulty">
            <option value="all">Any Difficulty</option>
            <option value="easy">Easy</option>
            <option value="medium">Medium</option>
            <option value="hard">Hard</option>
        </select>
        <select id="search-data_structure">
            <option value="all">All Categories</option>
            <option value="array">Array</option>
            <option value="link_list">Link List</option>
            <option value="tree">Tree</option>
        </select>

         <select id="search-approach">
            <option value="all">All Categories</option>
            <option value="brute_force">Brute Force</option>
            <option value="divide-conquer">Divide and Conquer</option>
            <option value="greedy">Greedy</option>
        </select>       

        <button>Search</button>
    </div>

    <!-- Algorithm List -->
    <div class="gray-background">
        <div class="card-container">
            <% for (let level in level_tags) { %>
                <div class="custom-card">
                    <div class="card-header">
                        <h3><%= nonreadable_to_readable[level] %></h3>
                    </div>
                    <p><strong>Difficulty:</strong> <%= level_tags[level]["difficulty"] %></p>
                    <p><strong>Type:</strong> <%= level_tags[level]["type"] %></p>
                    <p>
                            <button type="submit" onclick="location.href = 'level_select/<%-level%>/c';">C</button>
                            <button type="submit" onclick="location.href = 'level_select/<%-level%>/py';">Python</button>
                    </p>
                </div>
            <% }; %>
        </div>
    </div>
</body>
</html>
